/HolaMundoApp/nbproject/private/
/HolaMundoApp/build/
/AdivineNumero/nbproject/private/
/AdivineNumero/build/
/AdivineNumero/dist/
/1.ArraysAndMatrices/nbproject/private/
/1.ArraysAndMatrices/build/
/2.CellPhoneNumbers/nbproject/private/
/2.CellPhoneNumbers/dist/
/2.CellPhoneNumbers/build/
/3.TemperatureNumbers/nbproject/private/
/3.TemperatureNumbers/build/
/3.TemperatureNumbers/dist/
/4.ReactiveParadigmPatronSuscriber/nbproject/private/
/4.ReactiveParadigmPatternSuscriber/nbproject/private/
/4.ReactiveParadigmPatternSuscriber/build/
/4.ReactiveParadigmPatternSuscriber/dist/
